
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto;
  background-color: #F2FBFF;
}

h1 {
  font-size: 6rem;
  font-weight: 800;
}
h2 {
  font-size: 1.2rem;
  font-weight: 700;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




